* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.02rem;
  word-spacing: 0.15rem;
}

html,
body {
  background-color: #343d46;
  color: #f8f8fa;
}

.container {
  padding: 1rem 2rem;
  max-width: 425px;
  margin: auto;
  position: relative;
}

h1 {
  text-align: center;
  padding-bottom: 0.75rem;
  margin-bottom: 1.2rem;
  font-size: 2rem;
  border-bottom: 1px solid #f8f8fa;
}

#add-person {
  cursor: pointer;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 2.5px;
  font-size: 0.95rem;
  outline: none;
  transition: background-color 0.4s, box-shadow 0.4s;
  color: #f8f8fa;
  background-color: #36454f;
  box-shadow: 0 2px 1px rgba(255, 255, 255, 0.3);
}

#add-person:hover {
  background-color: #333333;
  box-shadow: 0 2px 0px rgba(255, 255, 255, 0.1);
}

#form {
  display: none;
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.form-group {
  margin: 0.75rem 0;
  position: relative;
}

label {
  display: block;
  font-size: 1.05rem;
  margin-bottom: 5px;
  color: #f8f8fa;
}

label::after {
  content: '*';
  margin-left: 3px;
}

label[for="notes"]::after {
  content: '';
  margin-left: 0;
}

.full-name-required,
.email-required,
.phone-required {
  display: none;
  padding-top: 0.2rem;
  color: #E26D5A;
  display: none;
  font-size: 0.95rem;
  line-height: 1.4;
  animation: required-msg 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes required-msg {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

#full-name,
#email,
#phone,
#filter {
  padding: 0.75rem 0.85rem;
  border: none;
  border-radius: 2.5px;
  font-size: 0.95rem;
  outline: none;
  background-color: #232b2b;
  color: #f8f8fa;
  width: 100%;
}

.country-code {
  position: absolute;
  top: 24px;
  left: 0px;
  padding: 0.75rem 0.85rem 0.75rem 2.5rem;
  background-color:#4f5b66;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  font-style: normal;
  letter-spacing: 0.05rem;
  color: 	#c0c5ce;
}

.flag {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 34px;
  left: 13px;
  opacity: 0.7;
}

#phone {
  padding-left: 6.75rem;
}

#phone::-webkit-inner-spin-button,
#phone::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::placeholder {
  color: #999999;
}

#notes {
  width: 100%;
  height: 120px;
  padding: 0.75rem 0.85rem;
  border: none;
  border-radius: 2.5px;
  font-size: 1.2rem;
  outline: none;
  background-color: #232b2b;
  color: #f8f8fa;
  line-height: 1.7;
  resize: none;
  word-spacing: -0.1rem;
}

#notes::placeholder {
  color: #999999;
  font-size: 1rem;
}

#submit-btn {
  cursor: pointer;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 2.5px;
  font-size: 0.95rem;
  outline: none;
  margin-bottom: 0.75rem;
  transition: background-color 0.4s, box-shadow 0.4s;
  color: #f8f8fa;
  background-color: #36454f;
  box-shadow: 0 2px 1px rgba(255, 255, 255, 0.3);
}

#submit-btn:hover {
  background-color: #333333;
  box-shadow: 0 2px 0px rgba(255, 255, 255, 0.1);
}

#filter {
  margin: 1rem 0;
  padding: 0.75rem 0.5rem 0.75rem 2.75rem;
}

.search {
  position: relative;
}

.search i {
  position: absolute;
  top: 29px;
  left: 15px;
  color: #999999;
}

.single-info {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5px;
  padding: 1rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

#dlt-icon {
  cursor: pointer;
  color: #c0c5ce;
  font-size: 1.35rem;
}

.person-info p {
  line-height: 1.8;
  font-size: 1.05rem;
  color: #c0c5ce;
}

.person-info p:first-child {
  text-transform: capitalize;
}

.person-info p:nth-child(2) {
  text-transform: lowercase;
}

.person-info p:nth-child(3) {
  padding-bottom: 0.75rem;
}

.note-style {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 0.75rem;
  margin-right: 2rem;
}

.success {
  display: none;
  background-color: #009944;
  color: #f8f8fa;
  padding: 0.25rem 0.5rem;
  border-radius: 2.5px;
  position: absolute;
  top: 90px;
  right: 33px;
  font-style: normal;
}

/* Person has been added alert animation */
.success-animation {
  animation: success 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes success {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.deleted {
  display: none;
  background-color:#d9534f;
  color: #f8f8fa;
  padding: 0.25rem 0.5rem;
  border-radius: 2.5px;
  position: absolute;
  top: 90px;
  right: 33px;
  font-style: normal;
}

/* Person has been deleted alert animation */
.deleted-animation {
  animation: deleted 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes deleted {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* person info added animation */
.person-show {
  animation: show-person 1.15s ease;
  animation-fill-mode: forwards;
}

@keyframes show-person {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* person info deleted animation */
.person-delete {
  animation: delete-person 1.15s ease;
  animation-fill-mode: forwards;
}

@keyframes delete-person {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(250px);
    opacity: 0;
  }
}

/* show form animation */
.show-form {
  animation: show-form 0.6s ease;
  animation-fill-mode: forwards;
}

@keyframes show-form {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* hide form animation */
.hide-form {
  animation: hide-form 1.15s ease;
  animation-fill-mode: forwards;
}

@keyframes hide-form {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(500px);
    opacity: 0;
  }
}

/* Screen size 320px and less */
@media screen and (max-width: 320px) {
  .container {
    padding: 1rem 1.25rem;
    max-width: 320px;
  }
  .deleted {
    right: 23px;
  }
  .success {
    right: 25px;
  }
}